{
  "presets": [
    [
      "env",
      {
        "forceAllTransforms": true,
        "targets": {
          "node": "0.10"
        }
      }
    ]
  ],
  "plugins": ["transform-runtime", "transform-async-to-generator"]
}
